<div class="content">
  <div class="level">
    <div class="level-item">
      <figure class="image">
        <img
          src="<%=targetUser.img %>"
          alt=""
          class="is-rounded"
          id="profile-img"
        />
      </figure>
    </div>
    <div class="level level-item has-text-centered">
      <div id="profile-name-spacer">
        <h1 class="title"><%=targetUser.username %></h1>
        <p><%=targetUser.aboutMeText %></p>
      </div>
      <div class="level-left" id="profile-desc-spacer"></div>
    </div>
  </div>
  <div class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="subtitle">
          <strong>Country: </strong><%=targetUser.country %>
        </p>
        <p class="subtitle">
          <strong>City / Region: </strong><%=targetUser.cityOrState %>
        </p>
        <p class="subtitle">
          <strong>Native Language: </strong><%=targetUser.nativeLanguage %>
        </p>
        <p class="subtitle">
          <strong>Currently Learning: </strong><%=targetUser.targetLanguage %>
        </p>
        <p class="subtitle">
          <strong>I'd say my level is... </strong
          ><%=targetUser.targetLanguageProficiency %>
        </p>
      </div>
    </div>
  </div>
</div>
