<form action="/user/edit-profile?_method=PUT" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" value="<%=user.username %>" />
  <label for="email">Email</label>
  <input type="text" name="email" value="<%=user.email %>" />
  <label for="country">Country</label>
  <input type="text" name="country" value="<%=user.country %>" />
  <label for="cityOrState">State / Province</label>
  <input type="text" name="cityOrState" value="<%=user.cityOrState %>" />
  <label for="aboutMeText">About Me</label
  ><textarea name="aboutMeText"><%=user.aboutMeText%></textarea>
  <label for="nativeLanguage">Native language</label
  ><input type="text" name="nativeLanguage" value="<%=user.nativeLanguage%>" />
  <label for="targetLanguage">Target language</label
  ><input type="text" name="targetLanguage" value="<%=user.targetLanguage%>" />
  <label for="targetLanguageProficiency">Proficiency</label
  ><input
    type="text"
    name="targetLanguageProficiency"
    value="<%=user.targetLanguageProficiency%>"
  />
  <label for="hobbies">Hobbies</label>
  <input type="text" name="hobbies" value="<%=user.hobbies[0] %>" />
  <button type="submit">Sign UpUpdate</button>
</form>
