<form action="/user/edit-profile?_method=PUT" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" value="<%=user.username %>" />
  <label for="email">Email</label>
  <input type="text" name="email" value="<%=user.email %>" />
  <label for="country">Country</label>
  <input type="text" name="country" value="<%=user.country %>" />
  <label for="cityOrState">State / Province</label>
  <input type="text" name="cityOrState" value="<%=user.cityOrState %>" />
  <label for="aboutMeText">About Me</label
  ><textarea name="aboutMeText"><%=user.aboutMeText%></textarea>
  <label for="nativeLanguage">Native language</label>
  <select name="nativeLanguage" id="native-language-select">
    <% for (let i = 0; i < languages.length; i++) { %>
    <option value="<%=languages[i] %>"
        <% if (languages[i] === user.nativeLanguage) { %>
            selected
            <% } %>
        ><%=languages[i] %></option>
    <% } %>
  </select>
  <label for="targetLanguage">Target language</label>
  <select name="targetLanguage" id="target-language-select">
    <% for (let i = 0; i < languages.length; i++) { %>
    <option value="<%=languages[i] %>"
        <% if (languages[i] === user.targetLanguage) { %>
            selected
            <% } %>
        ><%=languages[i] %></option>
    <% } %>
  </select>
  <label for="targetLanguageProficiency">Proficiency</label>
  <select name="targetLanguageProficiency" id="proficiency-select">
    <% for (let i = 0; i < proficiencyLevels.length; i++) { %>
    <option value="<%=proficiencyLevels[i] %>" 
        <% if (proficiencyLevels[i] === user.targetLanguageProficiency) { %>
            selected
            <% } %>
            >
      <%=proficiencyLevels[i] %>
    </option>
    <% } %>
  </select>
  <button type="submit">Update</button>
</form>
