<div>
  <img src="<%=user.img %>" alt="" style="width: 400px" />
  <h1><%=user.username %></h1>
  <p><%=user.aboutMeText %></p>
  <p><%=user.country %></p>
  <p><%=user.cityOrState %></p>
  <p><%=user.languages %></p>
  <p><%=user.hobbies %></p>
</div>
