<figure class="image is-128x128">
  <img id="preview" class="is-rounded" src="/avatars/default.jpeg" />
</figure>

<form action="/auth/register" enctype="multipart/form-data" method="post">
  <label for="username" class="label">Username</label>
  <div class="field">
    <p class="control has-icons-left">
      <input type="text" name="username" class="input is-rounded" />
      <span class="icon is-small is-left">
        <i class="fa-solid fa-user"></i>
      </span>
    </p>
  </div>

  <label for="password" class="label">Password</label>
  <div class="field">
    <p class="control has-icons-left">
      <input type="password" name="password" class="input is-rounded" />
      <span class="icon is-small is-left">
        <i class="fa-solid fa-lock"></i>
      </span>
    </p>
  </div>

  <div id="file-js" class="file has-name">
    <label class="file-label">
      <input class="file-input" type="file" name="img" />
      <span class="file-cta">
        <span class="file-icon">
          <i class="fa-solid fa-camera"></i>
        </span>
        <span class="file-label"> Choose a photo… </span>
      </span>
      <span class="file-name"> No file uploaded </span>
    </label>
  </div>
  <label for="email" class="label">Email</label>

  <div class="field">
    <p class="control has-icons-left">
      <input type="text" name="email" class="input is-rounded" />
      <span class="icon is-small is-left">
        <i class="fa-solid fa-at"></i>
      </span>
    </p>
  </div>

  <label for="counry" class="label">Country</label>
  <div class="field">
    <p class="control has-icons-left">
      <input type="text" name="country" class="input is-rounded" />
      <span class="icon is-small is-left">
        <i class="fa-solid fa-earth-americas"></i>
      </span>
    </p>
  </div>

  <label for="cityOrState" class="label">City / Region</label>
  <div class="field">
    <p class="control has-icons-left">
      <input type="text" name="cityOrState" class="input is-rounded" />
      <span class="icon is-small is-left">
        <i class="fa-solid fa-city"></i>
      </span>
    </p>
  </div>

  <label for="aboutMetext" class="label">About me</label>
  <textarea name="aboutMeText" class="textarea" rows="6"></textarea>

  <div class="columns">
    <div class="column">
      <label for="nativeLanguage" class="label">Native language</label>
      <div class="select is-rounded">
        <select name="nativeLanguage" id="native-language-select">
          <% for (let i = 0; i < languages.length; i++) { %>
          <option value="<%=languages[i] %>"><%=languages[i] %></option>
          <% } %>
        </select>
      </div>
    </div>

    <div class="column">
      <label for="targetLanguage" class="label">Target language</label>
      <div class="select is-rounded">
        <select name="targetLanguage" id="target-language-select">
          <% for (let i = 0; i < languages.length; i++) { %>
          <option value="<%=languages[i] %>"><%=languages[i] %></option>
          <% } %>
        </select>
      </div>
    </div>

    <div class="column">
      <label for="targetLanguageProficiency" class="label">Proficiency</label>
      <div class="select is-rounded">
        <select name="targetLanguageProficiency" id="proficiency-select">
          <% for (let i = 0; i < proficiencyLevels.length; i++) { %>
          <option value="<%=proficiencyLevels[i] %>">
            <%=proficiencyLevels[i] %>
          </option>
          <% } %>
        </select>
      </div>
    </div>
  </div>
  <button type="submit" class="button is-primary is-large">Sign Up</button>
</form>
<script>
  const fileInput = document.querySelector("#file-js input[type=file]");
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector("#file-js .file-name");
      fileName.textContent = fileInput.files[0].name;
    }
  };
</script>
