<input type="file" id="file-input" />
<p id="status">Please select a file</p>
<img id="preview" src="/avatars/default.jpeg" />

<form action="/auth/register" enctype="multipart/form-data" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" />
  <label for="password">Password</label>
  <input type="password" name="password" />
  <label for="img">Self Portrait</label>
  <input type="file" name="img" />
  <label for="email">Email</label>
  <input type="text" name="email" />
  <label for="counry">Country</label>
  <input type="text" name="country" />
  <label for="cityOrState">State / Province</label>
  <input type="text" name="cityOrState" />
  <label for="aboutMetext">About me</label>
  <textarea name="aboutMeText"></textarea>
  <label for="nativeLanguage">Native language</label>
  <select name="nativeLanguage" id="native-language-select">
    <% for (let i = 0; i < languages.length; i++) { %>
    <option value="<%=languages[i] %>"><%=languages[i] %></option>
    <% } %>
  </select>
  <label for="targetLanguage">Target language</label>
  <select name="targetLanguage" id="target-language-select">
    <% for (let i = 0; i < languages.length; i++) { %>
    <option value="<%=languages[i] %>"><%=languages[i] %></option>
    <% } %>
  </select>
  <label for="targetLanguageProficiency">Proficiency</label>
  <select name="targetLanguageProficiency" id="proficiency-select">
    <% for (let i = 0; i < proficiencyLevels.length; i++) { %>
    <option value="<%=proficiencyLevels[i] %>">
      <%=proficiencyLevels[i] %>
    </option>
    <% } %>
  </select>
  <button type="submit" class="button">Sign Up</button>
  <script></script>
</form>
