<input type="file" id="file-input" />
<p id="status">Please select a file</p>
<img id="preview" src="/avatars/default.jpeg" />

<form action="/auth/register" enctype="multipart/form-data" method="post">
  <label for="username">Username</label>
  <div class="field">
    <p class="control has-icons-left">
      <input type="text" name="username" class="input is-rounded" />
      <span class="icon is-small is-left">
        <i class="fa-solid fa-user"></i>
      </span>
    </p>
  </div>

  <label for="password">Password</label>
  <div class="field">
    <p class="control has-icons-left">
      <input type="password" name="password" class="input is-rounded" />
      <span class="icon is-small is-left">
        <i class="fa-solid fa-lock"></i>
      </span>
    </p>
  </div>

  <label for="img">Avatar</label>
  <div class="field">
    <p class="control has-icons-left">
      <input type="file" name="img" class="input is-rounded" />
      <span class="icon is-small is-left">
        <i class="fa-solid fa-camera"></i>
      </span>
    </p>
  </div>

  <label for="email">Email</label>

  <div class="field">
    <p class="control has-icons-left">
      <input type="text" name="email" class="input is-rounded" />
      <span class="icon is-small is-left">
        <i class="fa-solid fa-at"></i>
      </span>
    </p>
  </div>

  <label for="counry">Country</label>
  <div class="field">
    <p class="control has-icons-left">
      <input type="text" name="country" class="input is-rounded" />
      <span class="icon is-small is-left">
        <i class="fa-solid fa-earth-americas"></i>
      </span>
    </p>
  </div>

  <label for="cityOrState">City / Region</label>
  <div class="field">
    <p class="control has-icons-left">
      <input type="text" name="cityOrState" class="input is-rounded" />
      <span class="icon is-small is-left">
        <i class="fa-solid fa-city"></i>
      </span>
    </p>
  </div>

  <label for="aboutMetext">About me</label>
  <textarea name="aboutMeText" class="textarea"></textarea>
  <label for="nativeLanguage">Native language</label>
  <div class="select is-rounded">
    <select name="nativeLanguage" id="native-language-select">
      <% for (let i = 0; i < languages.length; i++) { %>
      <option value="<%=languages[i] %>"><%=languages[i] %></option>
      <% } %>
    </select>
  </div>
  <label for="targetLanguage">Target language</label>
  <div class="select is-rounded">
    <select name="targetLanguage" id="target-language-select">
      <% for (let i = 0; i < languages.length; i++) { %>
      <option value="<%=languages[i] %>"><%=languages[i] %></option>
      <% } %>
    </select>
  </div>
  <label for="targetLanguageProficiency">Proficiency</label>
  <div class="select is-rounded">
    <select name="targetLanguageProficiency" id="proficiency-select">
      <% for (let i = 0; i < proficiencyLevels.length; i++) { %>
      <option value="<%=proficiencyLevels[i] %>">
        <%=proficiencyLevels[i] %>
      </option>
      <% } %>
    </select>
  </div>
  <button type="submit" class="button">Sign Up</button>
  <script></script>
</form>
