<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="container is-fluid">
      <div class="level">
        <div class="level-item">
          <h1 class="title">Create Conversation Page</h1>
        </div>
      </div>
      <form action="/conversations/post" method="post">
        <textarea
          name="message"
          id=""
          rows="6"
          placeholder="...write your message"
          class="textarea"
        ></textarea>
        <input type="text" name="from" id="" value="<%=me._id%>" hidden />
        <input type="text" name="to" id="" value="<%=recipient._id%>" hidden />
        <input
          type="text"
          name="convoId"
          id=""
          value="<%=previousConversation._id%>"
          hidden
        />
        <div class="level">
          <div class="level-left"></div>
          <div class="level-right">
            <div class="level">
              <div class="level-item">
                <button
                  type="submit"
                  class="button is-primary is-rounded"
                  id="create-message-btn"
                >
                  Message
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="level">
        <div class="level-item">
          <h3 class="title is-4" id="old-messages-title">Messages</h3>
        </div>
      </div>
      <div class="level">
        <div class="level-item">
          <ul id="message-container" class="content">
            <% for (let i = 0; i < previousConversation.messages.length; i++) {
            %> <% if (String(previousConversation.messages[i].from) ===
            String(me._id)) { %>

            <li class="conversation-message from-me">
              <div class="message-spacer"></div>
              <p><%=previousConversation.messages[i].message%></p>
            </li>

            <% } else { %>
            <li class="conversation-message from-you">
              <p><%=previousConversation.messages[i].message%></p>
              <div class="message-spacer"></div>
            </li>
            <% } %> <% } %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
