<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <h1>Index Page</h1>
    <ul>
      <% for (let i = 0; i < users.length; i++) { if (!myAccount ||
      users[i].username !== myAccount.username) { %>
      <li>
        <a href="/user/profile/<%=users[i]._id%>"><%=users[i].username%></a>
      </li>
      <% } } %>
    </ul>
    <% if (!myAccount) { %>
    <a href="/auth/register">
      <button>Register</button>
    </a>
    <br />
    <a href="/auth/login">
      <button>Login</button>
    </a>
    <% } %> <% if (myAccount) { %>
    <form action="/auth/logout?_method=DELETE" method="post">
      <button type="submit">Logout</button>
    </form>
    <% } %> <% if (myAccount) { %>
    <a href="/invites">Invites</a>
    <a href="/meetups">Meetups</a>
    <p>logged in as <%=myAccount.username%></p>
    <% } %>
  </body>
</html>
