<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="container is-fluid">
      <h1 class="title">Upcoming Meetups</h1>
      <ul>
        <% for (let i = 0; i < meetups.length; i++) { %>
        <li>
          <a href="/meetups"><%=meetups[i].meetup.name%></a>
          <p><%=meetups[i].partnerUsername%></p>
        </li>
        <% } %>
      </ul>

      <h1 class="title">New Messages</h1>
      <ul>
        <% for (let i = 0; i < messages.length; i++) { %>
        <li>
          <a href="/conversations/post/<%=messages[i].message.from%>"
            ><%=messages[i].message.message%></a
          >
          <p><%=messages[i].partnerUsername%></p>
        </li>
        <% } %>
      </ul>

      <h1 class="title">New Invites</h1>
      <ul>
        <% for (let i = 0; i < invites.length; i++) { %>
        <li>
          <a href="/user/profile/<%=invites[i].invite.from%>"
            ><%=invites[i].invite.message%></a
          >
          <p><%=invites[i].partnerUsername%></p>
        </li>
        <% } %>
      </ul>

      <% if (myAccount) { %>
      <p>logged in as <%=myAccount.username%></p>
      <% } %>
    </div>
  </body>
</html>
