<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <h1 class="title">Meetups Page</h1>
    <ul>
      <% for (let i = 0; i < meetups.length; i++) { %>
      <li>
        <a href="/meetups/<%=meetups[i]._id%>"
          ><h3><%=meetups[i].name%></h3>
          <p><%=meetups[i].description%></p></a
        >
      </li>
      <% } %>
    </ul>
    <% if (!meetups.length) { %>
    <p>No Meetups current scheduled!</p>
    <% } %>
    <a href="/meetups/create"><button>Create</button></a>
  </body>
</html>
