<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="container is-fluid">
    <div class="level">
      <div class="level-item">
    <h1 class="title">Search Page</h1>
    </div>
    </div>
    <form action="/search" method="post">
      <div class="columns"><div class="column has-text-centered">
      <label for="language" class="label">Language</label>
      <div class="select is-rounded">
      <select name="language" id="language">
        <option value="BLANK">-- select --</option>
        <% for (let i = 0; i < languages.length; i++) { %>
        <option value="<%=languages[i] %>" <% if (language === languages[i]) { %>
            selected
            <% } %>
            ><%=languages[i] %></option>
        <% } %>
      </select>
    </div>
    </div>
    <div class="column has-text-centered">
      <label for="proficiency" class="label">Proficiency</label>
      <div class="select is-rounded">
      <select name="proficiency" id="proficiency">
        <option value="BLANK">-- select --</option>
        <% for (let i = 0; i < proficiencyLevels.length; i++) { %>
        <option value="<%=proficiencyLevels[i] %>" 
            <% if (proficiency === proficiencyLevels[i]) { %>
                selected
                <% } %>
            >
          <%=proficiencyLevels[i] %>
        </option>
        <% } %>
      </select>
    </div>
    </div>
    <div class="column has-text-centered">
      <label for="country" class="label">Country</label>
      <div class="select is-rounded">
      <select name="country" id="country">
        <option value="BLANK">-- select --</option>
        <% for (let i = 0; i < countries.length; i++) { %>
        <option value="<%=countries[i] %>"
            <% if (country === countries[i]) { %>
                selected
                <% } %>
            ><%=countries[i] %></option>
        <% } %>
      </select>
      </div>
      </div>
      
    </div>
    <div class="level">
      <div class="level-item">
    <button type="submit" class="button is-primary is-rounded">Search</button>
  </div></div>
    </form>
    <ul>
      <% for (let i = 0; i < users.length; i++) { %>
      <a href="/user/profile/<%=users[i]._id%>"><%=users[i].username%></a>
      <% } %>
    </ul>
    <% if (!users.length) { %>
        <p>Search returned no results</p>
        <% } %>
      </div>
  </body>
</html>
