<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="container is-fluid content">
      <%- include('./partials/profile.ejs') %>
      <div id="button-group" class="level">
        <div class="level-item has-text-centered">
          <% if (myAccount) { %>

          <a href="/user/edit-profile"
            ><button type="submit" class="button is-primary is-rounded">
              Edit My profile
            </button></a
          >
          <% } else if (myConnection) { %>

          <a href="/conversations/post/<%=targetUser._id%>"
            ><button class="button is-primary is-rounded">Message</button></a
          >

          <button class="button is-primary is-rounded">Invite to Meetup</button>
          <% } else if (connectionRequestToMe && invite) { %>
          <form action="/invites/response?_method=PUT" method="post">
            <input
              type="text"
              name="inviteId"
              id=""
              value="<%=invite._id%>"
              hidden
            />
            <input
              type="text"
              name="inviteAccepted"
              id=""
              value="true"
              hidden
            />
            <input
              type="text"
              name="message"
              id=""
              value="<%=invite.message%>"
              hidden
            />
            <input
              type="text"
              name="newConnectionId"
              id=""
              value="<%=invite.from%>"
              hidden
            />
            <input
              type="text"
              name="date"
              id=""
              value="<%=invite.date%>"
              hidden
            />
            <button type="submit" class="button is-primary is-rounded">
              Accept
            </button>
          </form>

          <form action="/invites/response?_method=PUT" method="post">
            <input
              type="text"
              name="inviteId"
              id=""
              value="<%=invite._id%>"
              hidden
            />
            <input
              type="text"
              name="inviteAccepted"
              id=""
              value="false"
              hidden
            />
            <input
              type="text"
              name="newConnectionId"
              id=""
              value="<%=invite.from%>"
              hidden
            />
            <button type="submit" class="button is-primary is-rounded">
              Decline
            </button>
          </form>
          <% } else if (connectionRequestFromMe && invite) { %>
          <form action="/invites?_method=DELETE" method="post">
            <input type="text" name="inviteId" id="" value="<%=invite._id%>""
            hidden>
            <input
              type="text"
              name="invitedUserId"
              value="<%=invite.to%>"
              hidden
            />
            <button type="submit" class="button is-primary is-rounded">
              Rescind Invite
            </button>
          </form>
          <% } else { %>
          <a href="/invites/create/<%=targetUser._id%>"
            ><button type="submit" class="button is-primary is-rounded">
              Connect
            </button></a
          >
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
