<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="container is-fluid content">
      <%- include('./partials/profile.ejs') %>
      <div id="button-group" class="level">
        <div class="level-item has-text-centered">
          <% if (myAccount) { %>

          <a href="/user/edit-profile"
            ><button type="submit" class="button is-primary is-rounded">
              Edit My profile
            </button></a
          >
          <% } else if (myConnection) { %>

          <a href="/conversations/post/<%=otherUser._id%>"
            ><button class="button is-primary is-rounded">Message</button></a
          >

          <button class="button is-primary is-rounded">Invite to Meetup</button>
          <% } else { %>
          <a href="/invites/create/<%=otherUser._id%>"
            ><button type="submit" class="button is-primary is-rounded">
              Connect
            </button></a
          >
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
